@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.header{
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 650px;
    height: 100px;
    background-color: #2f363e;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
                10px 10px 70px rgba(0, 0, 0, 0.25),
                inset 5px 5px 10px rgba(0, 0, 0, 0.5),
                inset 5px 5px 20px rgba(255, 255, 255, 0.2),
                inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.light {
    --bg-color: #fff;
}
.dark {
    --bg-color: #111;
}
body.dark {background-color: #292c35;}

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #2f363e;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.fa-moon {
    color: #f1c40f;
    font-size: medium;
}

.fa-sun {
    color: #f39c12;
    font-size: medium;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    margin: 0 auto;
    width: 650px;
    height: 550px;
    border-radius: 30px;
    background: #2f363e;
    padding: 20px;
    text-align: center;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
h1{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#inputBox{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), 
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.box li{
    position: relative;
    width: calc(100% - 35px);
    display: flex;
    align-items: center;
    background: #e31068;
    margin: 15px 0;
    padding: 10px 10px 10px 45px;
    min-height: 45px;
    cursor: pointer;
    border-radius: 22px;
    color: #fff;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.box li i{
    position: absolute;
    right: -40px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.box li i::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #e31068;
    transform: rotate(45deg);
}
.box li i::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #e31068;
    transform: rotate(-45deg);
}
.box li::before{
    content: '';
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: #2f363e;
    border-radius: 50%;
}
.box li.done{
    background: #607d8b;
} 
.box li.done::after{
    content: '';
    position: absolute;
    left: 16px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(315deg);
}
#list{
    position: relative;
    margin-top: 20px;
    height: 200px;
    overflow-y: auto;
    padding-right: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #fff;
}
.footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 650px;
    height: 100px;
    background-color: #2f363e;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
                10px 10px 70px rgba(0, 0, 0, 0.25),
                inset 5px 5px 10px rgba(0, 0, 0, 0.5),
                inset 5px 5px 20px rgba(255, 255, 255, 0.2),
                inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
/* Additions for priority select element */
#prioritySelect {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    padding-right: 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), 
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
/* Styling for task filtering buttons */
.filter-buttons {
    position: relative;
    align-items: center;
    width: 23%;
    border: none;
    outline: none;
    padding: 15px 20px;
    padding-right: 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), 
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
#dueDate {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    padding-right: 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), 
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    background: #fff;
    color: #000000;
}
/* For screens smaller than 768px (tablets and phones) */
@media (max-width: 768px) {
    .header {
        width: 90%; 
        padding: 15px; 
        height: 75px; 
    }
    
    .box {
        width: 90%; 
        padding: 20px;
        height: 550px;
    }
    
    h1 {
        font-size: 24px; 
    }
    
    .box li {
        padding: 10px; 
        min-height: 35px; 
    }
    
    #list {
        height: 150px; 
    }
    
    .footer {
        width: 90%; 
        padding: 15px;
        height: auto;
    }
    
  
}

/* For screens larger than 768px (desktops and laptops) */
@media (min-width: 769px) {
    .header {
        width: 650px; 
        height: 100px; 
        padding: 20px; 
    }

    .box {
        width: 650px; 
        height: 550px; 
        padding: 30px 50px; 
    }

    h1 {
        font-size: 30px; 
    }

    .box li {
        width: calc(100% - 35px); 
        padding: 10px 10px 10px 45px;
        min-height: 45px; 
    }

    #list {
        height: 200px; 
    }

    .footer {
        width: 650px; 
        height: 100px; 
        padding: 20px; 
    }

}
